{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'css/style.css' %}'>
    <title>Просмотр данных</title>
</head>
<body>
    <!-- Заголовок страницы -->
    <h1>Просмотр данных</h1>

    <!-- Блок для отображения сообщений об ошибках -->
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Таблица для отображения данных -->
    <table>
        <tr>
            <th>Имя</th>
            <th>Предмет</th>
            <th>Оценка</th>
        </tr>
        {% for entry in data %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.subject }}</td>
                <td>{{ entry.grade }}</td>
            </tr>
        {% endfor %}
    </table>

    <!-- Блок с навигационными ссылками -->
    <div class="nav-links">
        <a href="{% url 'student_form' %}">Добавить студента</a> <!-- Ссылка для добавления студента -->
        <a href="{% url 'manage_xml' %}">Управление XML файлом</a> <!-- Ссылка для управления XML файлом -->
    </div>
</body>
</html>


